@import "node_modules/ol/ol.css";

html, body {
  height: 100%;
}

h1{
  background-color: aqua;
}
#map, #map1 {
  position: relative;
  top: 50px;
  bottom: 50px;
  width: 500px;
  height: 500px;
  margin: auto;
}

/*
   marge haute pour le div qui suit la barre de navigation lorsqu'elle est fixe
*/
nav.fixed-top + div {
  margin-top: 70px;
}
